<head>
	<link rel="stylesheet" href="~/css/home/about.css" asp-append-version="true" />
</head>

<div class="app-wrapper">
	<section class="hero-section">
		<div class="hero-section__wrapper">
			<img src="~/img/about.jpg" alt="dietetyczne posiłek" />
		</div>
	</section>
	<section class="content-section">
		<div class="content-section__wrapper">
			<h2>My to wy</h2>
			<p>Jesteśmy zespołem pasjonatów zdrowego stylu życia, którzy stworzyli aplikację łączącą zarządzanie dietą i aktywnością fizyczną w jednym miejscu.Pomagamy użytkownikom osiągać ich cele – od utraty wagi, przez budowę formy, po utrzymanie zdrowych nawyków. Prosto, intuicyjnie i skutecznie – wszystko dla Twojego zdrowia i samopoczucia!</p>
		</div>
	</section>
	<section class="content-section">
		<div class="content-section__wrapper">
			<h2>Technologia z satysfakcją</h2>
			<p>Łączymy nowoczesne technologie z prostotą użytkowania, aby wspierać Cię na drodze do lepszego samopoczucia i osiągania celów zdrowotnych. Wiemy, że Twoje sukcesy to także nasza satysfakcja, dlatego dbamy o każdy detal, aby aplikacja była dla Ciebie jak najbardziej użyteczna i motywująca!</p>
		</div>
	</section>
</div>
