<head>
	<link rel="stylesheet" href="~/css/home/home.css" asp-append-version="true" />
</head>

<div class="app-wrapper">
	<section class="hero-section">
		<div class="hero-section__wrapper">
			<img src="~/img/bg.jpg" alt="dietetyczne posiłek" />
		</div>
	</section>
	<section class="two-cols-section">
		<div class="two-cols-section-wrapper">
			<div class="two-cols-section-wrapper__image">
				<img src="~/img/section_diet.jpg" alt="dietetyczne posiłek" />
			</div>
			<div class="two-cols-section-wrapper__content">
				<h2>Twoja Droga do Zdrowia – Zarządzaj Kaloriami i Osiągaj Cele!</h2>
				<p>
					Witaj w swojej podróży do zdrowego stylu życia! Nasza aplikacja pomoże Ci łatwo zarządzać codziennym spożyciem kalorii.
					Zapisuj swoje posiłki, śledź postępy i odkrywaj lepsze nawyki żywieniowe, które dopasują się do Twoich celów. Zaczynamy?
				</p>
				<a class="link" asp-area="" asp-controller="MealsLists" asp-action="Index">Lista posiłków</a>
			</div>
		</div>
	</section>
	<section class="two-cols-section">
		<div class="two-cols-section-wrapper reverse">
			<div class="two-cols-section-wrapper__image">
				<img src="~/img/section_trening.jpg" alt="trening" />
			</div>
			<div class="two-cols-section-wrapper__content">
				<h2>Twój Trening, Twój Sukces – Planuj i Monitoruj Progres Każdego Dnia!</h2>
				<p>
					Witaj w swojej podróży do zdrowego stylu życia! Nasza aplikacja pomoże Ci łatwo zarządzać codziennym spożyciem kalorii.
					Zapisuj swoje posiłki, śledź postępy i odkrywaj lepsze nawyki żywieniowe, które dopasują się do Twoich celów. Zaczynamy?
				</p>
				<a class="link" asp-area="" asp-controller="ExercisesLists" asp-action="Index">Lista ćwiczeń</a>
			</div>
		</div>
	</section>
</div>