@model FitTracker.Models.MealsList

<head>
    <link rel="stylesheet" href="~/css/mealsList.css" asp-append-version="true" />
</head>

<div class="create-meals-wrapper">
    <h1>Dodaj posiłek</h1>
    <div class="row form-wrapper">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Calories" class="control-label"></label>
                    <input asp-for="Calories" class="form-control" />
                    <span asp-validation-for="Calories" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group add-link">
                    <input type="submit" value="Stwórz" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="back-list-wrapper">
        <a asp-action="Index">Wróć do listy</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
